<a href="https://colab.research.google.com/github/ClauderCarvalho/Webscraping/blob/master/Raspando_dados_da_tabela_de_sites_usando_uma_%C3%BAnica_linha_no_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
import numpy as np

In [5]:
url = "https://en.wikipedia.org/wiki/Cricket_World_Cup"

In [6]:
tabela = pd.read_html(url)

In [9]:
#Descobrir a quantidade de tabelas 

print('Existem:', len(tables),'tabela')

Existem: 19 tabela

In [12]:
#Pegar a tabela numero 0

print('Veja a tabela 0')
print(tables[0])

Veja a tabela 0
                       0                                                1
0   The World Cup Trophy                             The World Cup Trophy
1          Administrator              International Cricket Council (ICC)
2                 Format                            One Day International
3          First edition                                     1975 England
4         Latest edition                             2019 England & Wales
5           Next edition                                       2023 India
6      Tournament format                                         ↓various
7        Number of teams  20 (all tournaments)14 (until 2015)10 (current)
8       Current champion                              England (1st title)
9        Most successful                             Australia (5 titles)
10             Most runs                         Sachin Tendulkar (2,278)
11          Most wickets                               Glenn McGrath (71)

***2. Lendo uma tabela específica de um site***


Se houver muitas tabelas em um site, será uma tarefa tediosa encontrar a tabela que você está direcionando, não será possível procurar manualmente uma tabela. Para isso, precisamos adicionar um parâmetro extra ( match) a ser incluído no método read_html () para procurar automaticamente uma tabela necessária.

O atributo match pode receber uma string ou uma expressão regular compilada , pois é um valor

Exemplo : Para raspar uma tabela específica usando match como parâmetro

In [15]:
url = "https://en.wikipedia.org/wiki/Cricket_World_Cup"

tables = pd.read_html(url, match='Performance details')

print('There are:', len(tables), 'tabelas')
print('Take look at table 0')
tables[0]

There are: 2 tabelas
Take look at table 0

   Year             Player      Performance details
0  1992       Martin Crowe                 456 runs
1  1996  Sanath Jayasuriya   221 runs and 7 wickets
2  1999     Lance Klusener  281 runs and 17 wickets
3  2003   Sachin Tendulkar   673 runs and 2 wickets
4  2007      Glenn McGrath               26 wickets
5  2011       Yuvraj Singh  362 runs and 15 wickets
6  2015     Mitchell Starc               22 wickets
7  2019    Kane Williamson   578 runs and 2 wickets

Nota: O espaço de pesquisa é reduzido; isso pode ajudá-lo a procurar rapidamente a tabela necessária

3. Formatação de saída

Atributos úteis   
1. cabeçalho: a linha a ser usada como cabeçalho da coluna. 
2. index_col: a coluna a ser usada para criar o índice 
3. skiprows: Número de linhas a serem puladas após analisar o número inteiro da coluna

4. Também podemos direcionar uma tabela específica de outra maneira

In [16]:
tabela.read_html(url, attrs={'html_tag','value'})

NameError: ignored